.App {
  text-align: center;
}

.App-header {
  margin-top: 10%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: #506584;
}

.App-body {
  padding: 0 25% 0 25%;
  margin-top: 30px;
}

.App-body .top-divider{
  margin-bottom: 0px;
}

.App-body .bottom-divider{
  margin-top: 0px;
}

.App-body .link-container {
  display: flex;
  justify-content: space-between;
}

.App-body .link-container a {
  flex-grow: 1;
  color: #506584;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-size: calc(10px + 2vmin);
}

.App-body .link-container a:hover {
  color: white;
  background-color: #506584;
}
